<!-- s-content
    ================================================== -->
    <section class="s-content">
        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Contacta con nosotros
                </h1>
            </div>
            <!-- end s-content__header -->

            <div class="s-content__media col-full">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
            <!-- end s-content__media -->

            <div class="col-full s-content__main">

                <p class="lead">PUEDES ENCONTRAR LA INFORMACIÓN DE NUESTROS CENTROS EN LA PÁGINA WEB.</p>

                <p>Si tu pregunta está relacionada con nuestras actividades dirigidas consulta el horario de actividades dirigidas en la sección "Clases". Si quieres saber más sobre la actividad podrás encontrar toda la información en "Entrenamientos".
                </p>

                <p>Si tu pregunta está relacionada con nuestras cuotas, podrás consultar nuestras cuotas y promociones en la página principal.
                </p>

                <div class="row">
                    <div class="col-six tab-full">
                        <h3>Donde entontrarnos</h3>

                        <p>
                            Calle Serrano 1
                            <br> Madrid
                            <br> 28901
                        </p>

                    </div>

                    <div class="col-six tab-full">
                        <h3>Información de contacto</h3>

                        <p>contacto@waregym.com
                            <br> info@waregym.com
                            <br> Phone: (+1) 123 456
                        </p>

                    </div>
                </div>
                <!-- end row -->
                
                <h3>Déjanos tu mensaje</h3>
                <fieldset>
                    <div *ngIf="contact">
                        <div *ngIf="contact.id">
                            <label>Id: </label>{{contact.id}}
                        </div>    
                        <div class="form-field">
                            <input [(ngModel)]="contact.name" type="text" class="full-width" placeholder="Nombre" required/>
                        </div>

                        <div class="form-field">
                            <input input [(ngModel)]="contact.number" type="number" class="full-width" placeholder="Móvil"/>
                        </div>

                        <div class="form-field">
                            <input [(ngModel)]="contact.email" type="text" class="full-width" placeholder="Correo electrónico" required/>
                        </div>

                        <div class="message form-field">
                            <textarea [(ngModel)]="contact.message" class="full-width" placeholder="Tu mensaje"></textarea>
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LfUZBMUAAAAAJIFByqzdQzO3KLzX79bmrQuzeW1"></div>
                        <button (click)="cancel()" class="submit btn btn--primary full-width">Cancel</button>
                        <button (click)="save()" class="submit btn btn--primary full-width">Enviar</button>
                    </div>
                </fieldset>
                <!-- end form -->
                
            </div>
            <!-- end s-content__main -->

        </div>
        <!-- end row -->
    </section>