<section class="s-content">
    <div class="text-center">
    <div class="row masonry-wrap">
        <div class="masonry">
            <div class="text-center">
            <div class="grid-sizer"></div>
            <div *ngIf="product">
            <h1>Producto {{product.name}}</h1>
            <article class="masonry__brick entry format-standard">
                    
                <div class="entry__thumb">
                    <a [routerLink]="['/producto', product.id]" class="entry__thumb-link">
                        <img src="../../assets/files/{{product.image}}" 
                                srcset="../../assets/files/{{product.image}} 1x, ../../assets/files/{{product.image}} 2x" alt="">
                    </a>
                </div>
    
                <div class="entry__text">
                    <div class="entry__header">
                        <h1 class="entry__title"><a [routerLink]="['/producto', product.id]">{{product.type}}</a></h1>
                    </div>
                    <div class="entry__excerpt">
                        <p>
                            {{product.name}}
                        </p>
                        <h4>
                            Valoración: {{product.value}}/10  
                        </h4>
                    </div>
                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="{{product.link}}" target="_blank">Enlace Compra</a> 
                        </span>
                    </div>
                    <div>
                    <button *ngIf="loginService.isAdmin" (click)="removeProduct()">Eliminar Producto</button>
                    </div>
                </div>
            </article> <!-- end article -->
            </div> 
            </div>
        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->
    </div>
    
    <div class="text-center">
        
        <button (click)="gotoProducts()">Todos los productos</button>
        <button *ngIf="loginService.isAdmin" (click)="editProduct()">Editar Producto</button>
     
    </div>

    </section> <!-- s-content -->