<!-- s-content
================================================== -->
<section class="s-content s-content--narrow s-content--no-padding-bottom">

    <article class="row format-gallery">
        <div *ngIf="gclass">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                {{gclass.name}}
            </h1>
        <!-- end s-content__header -->
        <div class="s-content__media col-full">
            <div class="s-content__post-thumb">
                <img src="../assets/images/{{gclass.image1}}" srcset="../assets/images/{{gclass.image1}} 2000w, 
                          ../assets/images/{{gclass.image1}} 1000w, 
                          ../assets/images/{{gclass.image1}} 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
            </div>
        </div>
        <!-- end s-content__media -->

        <div class="col-full s-content__main">

            <div class="text-center">
                <h1>¿Qué es el {{gclass.name}}?</h1>

            <p>{{gclass.description}}</p>

            <div class="text-center">
                <h1>Desarrollo de una clase</h1>

                <p>{{gclass.development}}</p>

                <div class="text-center">
                    <h1>Beneficios</h1>
                </div>

                <p>{{gclass.benefit}}</p>
          </div>
                <div class="text-center">
                    <h1 class="lead">Horarios</h1>
                </div>
            </div>
        </div>
        <div class="row-center">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th style="text-align:center" scope="col">Días/Horas</th>
                        <th style="text-align:center" scope="col">Lunes</th>
                        <th style="text-align:center" scope="col">Martes</th>
                        <th style="text-align:center" scope="col">Miércoles</th>
                        <th style="text-align:center" scope="col">Jueves</th>
                        <th style="text-align:center" scope="col">Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="text-align:center" scope="row">10:00</th>
                        <td style="text-align:center"><p ng-if="gclass.schedule[0]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[1]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[2]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[3]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[4]">X</p></td>
                    </tr>
                    <tr>
                        <th style="text-align:center" scope="row">12:00</th>
                        <td style="text-align:center"><p ng-if="gclass.schedule[5]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[6]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[7]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[8]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[9]">X</p></td>
                    </tr>
                    <tr>
                        <th style="text-align:center" scope="row">17:00</th>
                        <td style="text-align:center"><p ng-if="gclass.schedule[10]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[11]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[12]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[13]">X</p></td>
                        <td style="text-align:center"><p ng-if="gclass.schedule[14]">X</p></td>
                    </tr>
                </tbody>
            </table>
            <div class="class-inscription text-center">
                <button (click)="removeClass()">Borrar Clase</button>
                <button (click)="gotoClasses()">Todas las Clases</button>
                <button (click)="inscriptionClass()">Inscribirme</button>
            </div>
        </div>
        </div>
        </div>
    </article>
</section>