<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div class="header__logo">
    <a class="logo" href="/index">
      <img href="/index" src="../assets/images/logoGYM.png" alt="Homepage">
    </a>
  </div>

  <ul class="header__social">
    <li>
      <a href="https://es-es.facebook.com/FitnessMotivacion/" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/fltness?lang=es" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true">b</i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/fitnessgirlsmotivation/?hl=es" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true">c</i>
      </a>
    </li>
    <li>
      <a href="https://www.pinterest.es/categories/health_fitness/" target="_blank">
        <i class="fa fa-pinterest" aria-hidden="true"></i>
      </a>
    </li>
  </ul>


  <nav class="header__nav-wrap">

    <h2 class="header__nav-heading h6">Site Navigation</h2>

    
      <li class="current">
        <a href="/index" title="">Inicio</a>
      </li>
      <li class="has-children">
        <a href="#0" title="">Clases</a>
        <ul class="sub-menu">
          <li>
            <a href="/clases/añadir_clase">Añadir Clase</a>
          </li>
          <li>
            <a href="/clases/inscripcion">Apúntate</a>
          </li>
          <li>
            <a>name</a>
          </li>
        </ul>
      </li>

  </nav>

</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
</ul>