
<section class="s-pageheader s-pageheader--home">
    <headerComponent></headerComponent>
    <div class="pageheader-content row">
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry" style="background-image:url('assets/images/thumbs/featured/featured-fitnessworld.jpg');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="/waregym">Fitness</a></span>

                            <h1><a href="/waregym" title="">¿POR QUÉ WAREGYM?</a></h1>

                        </div>
                        <!-- end entry__content -->

                    </div>
                    <!-- end entry -->
                </div>
                <!-- end featured__big -->

                <div class="featured__column featured__column--small">

                    <div class="entry" style="background-image:url('assets/images/index/oferta-gym.jpg');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="/waregym">Precios</a></span>

                            <h1><a  [routerLink]="['login']" title="">¡OFERTA ESPECIAL!</a></h1>

                        </div>
                        <!-- end entry__content -->

                    </div>
                    <!-- end entry -->

                    <div class="entry" style="background-image:url('assets/images/thumbs/featured/featured-workout.jpg');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="/entrenamientos/entrenamiento">Rutinas</a></span>

                            <h1><a href="/entrenamientos/entrenamiento" title="">Entrenamiento personal</a></h1>

                        </div>
                        <!-- end entry__content -->

                    </div>
                    <!-- end entry -->

                </div>
                <!-- end featured__small -->
            </div>
            <!-- end featured -->

        </div>
        <!-- end col-full -->
    </div>
    <!-- end pageheader-content row -->
</section>

<section class="s-content">

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="grid-sizer"></div>

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="/productos" class="entry__thumb-link">
                        <img src="assets/images/thumbs/masonry/product-400.jpg" srcset="assets/images/thumbs/masonry/product-400.jpg 1x, assets/images/thumbs/masonry/product-800.jpg 2x" alt="">
                    </a>
                </div>

                <div class="entry__text">
                    <div class="entry__header">
                        <h1 class="entry__title"><a href="/productos">Nuestros productos</a></h1>
                    </div>
                    <div class="entry__excerpt">
                        <p>
                            Conoce en un clic los productos que tu cuerpo necesita.
                        </p>
                    </div>
                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="/productos">Nutrición</a> 
                        </span>
                    </div>
                </div>

            </article>
            <!-- end article -->

            <article class="masonry__brick entry format-quote" data-aos="fade-up">

                <div class="entry__thumb">
                    <blockquote>
                        <p>Si eres persistente, lo conseguirás. If you are consistent, you will keep it.</p>

                        <cite>Bruce Lee</cite>
                    </blockquote>
                </div>

            </article>
            <!-- end article -->

            <article class="masonry__brick entry format-quote" data-aos="fade-up">

                <div class="entry__thumb">
                    <blockquote>
                        <p>Un ganador es un perdedor que nunca se dió por vencido.</p>

                        <cite>Arnold Schwarzenegger</cite>
                    </blockquote>
                </div>

            </article>
            <!-- end article -->


            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="/waregym" class="entry__thumb-link">
                        <img src="assets/images/thumbs/masonry/gym-400.jpg" srcset="assets/images/thumbs/masonry/gym-400.jpg 1x, assets/images/thumbs/masonry/gym-800.jpg 2x" alt="">
                    </a>
                </div>

                <div class="entry__text">
                    <div class="entry__header">
                        <h1 class="entry__title"><a href="/waregym">Instalaciones únicas</a></h1>
                    </div>
                    <div class="entry__excerpt">
                        <p>
                            Échale un vistazo a nuestras instalaciones y precios.
                        </p>
                    </div>
                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="/waregym">Salud</a>
                        </span>
                    </div>
                </div>

            </article>
            <!-- end article -->

        </div>
        <!-- end masonry -->
    </div>
    <!-- end masonry-wrap -->

</section>
<!-- s-content -->

<footer class="s-footer"> 
    <footerComponent></footerComponent>
</footer>
    
