    <!-- s-footer
    ================================================== -->
        <div class="s-footer__main">
            <div class="row">

                <div class="col-two md-four mob-full s-footer__sitelinks">

                    <h4>Secciones</h4>

                    <ul class="s-footer__linklist">
                        <li><a [routerLink]="['/index']">Inicio</a></li>
                        <li><a [routerLink]="['/waregym']" title="">Waregym</a></li>
                        <li><a [routerLink]="['/producto/new']">Añadir producto</a></li>
                        <li><a [routerLink]="['/productos']">Productos disponibles</a></li>
                        <li><a [routerLink]="['/contacto']">Contacto</a></li>
                        
              			<li><a [routerLink]="['/logIn']" title="">Iniciar Sesión</a></li>
                        
                    </ul>

                </div>
                <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">

                    <h4>Clases</h4>

                    <ul class="s-footer__linklist">
                        <li><a [routerLink]="['/clase/new']">Añadir Clase</a></li>
                        <li><a [routerLink]="['/clases']">Apúntate</a></li>
                    </ul>

                </div>
                <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">

                    <h4>Entrenamiento</h4>

                    <ul class="s-footer__linklist">
                        <li><a [routerLink]="['/training']">Mi Entrenamiento</a></li>
                        <li><a id = "hprinc" style="display:none;" [routerLink]="">Principiante</a></li>
                        <li><a id = "hmed" style="display:none;" [routerLink]="">Medio</a></li>
                        <li><a id = "hadv" style="display:none;" [routerLink]="">Avanzado</a></li>
                        <li><a id = "hexp" style="display:none;" [routerLink]="">Experto</a></li>
                    </ul>

                </div>
                <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">

                    <h4>Contacto</h4>

                    <p>Telf: (+34) 123 456 789
                        <br> Ubicación: C/Serrano n º 1, Madrid, España </p>

                </div>
                <!-- end s-footer__subscribe -->

            </div>
        </div>
        <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Waregym 2018</span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end s-footer__bottom -->

    <!-- end s-footer -->
