<!DOCTYPE html>
    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-gallery">

        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Error 404: Página no encontrada
                </h1>
                
            </div>
            <!-- end s-content__header -->
        </div>
        <!-- end row -->

        </article>
    </section>
    <!-- s-content -->