<!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">
        <form *ngIf="!loginService.isLogged" role="search">

            <div class="row">
                <div class="text-center">
                    <h2>Iniciar Sesión</h2>
                </div>
                    <h4>Usuario</h4>
                    <div class="form-field">
                        <input #user type="text" class="form-control full-width" name="username" placeholder="Username" required/>
                    </div>

                    <h4>Contraseña</h4>
                    <div class="form-field">
                        <input #pass type="password" class="form-control full-width" name="password" placeholder="Password" required/>
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" (click)="logIn($event, user.value, pass.value)" class="btn full-width">Iniciar Sesión</button>
                        <button (click)="gotoRegistred()" class="submit btn btn--primary full-width">Registrarme</button>
                    </div>
             </div>
        </form>
    </section>
<!-- s-content -->