<!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">
            <div class="row">
                    <h4>Usuario</h4>
                    <div class="form-field">
                        <input [(ngModel)]="userName" type="text" name="username" class="full-width" placeholder="Usuario" required/>
                    </div>

                    <h4>Contraseña</h4>
                    <div class="form-field">
                        <input [(ngModel)]="password" type="password" name="password" class="full-width" placeholder="Contraseña" required/>
                    </div>
                    
                    <div class="text-center">
                        <button (click)="logIn()" class="submit btn btn--primary full-width">LogIn</button>
                    </div>
             </div>
         </section>
<!-- s-content -->