<section class="s-pageheader s-pageheader--home">
    <headerComponent></headerComponent>
</section>

<!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">
            <div class="row text-center">
                <form action="/login" method="post" style=width:200px;margin:auto>
                    <label>Nombre de usuario:</label>
                    <input type="text" name="username" placeholder="Usuario" required/><br />
                    <label>Contraseña:</label>
                    <input type="password" name="password" placeholder="Contraseña" required/><br />
                    <!--<center><input type="submit" value="Iniciar sesión" /></center>-->
                </form>
                <form action="/signup">
                    <input type="submit" value="Registrarme">
                </form>  
             </div>
         </section>
        <!-- s-content -->

<footer class="s-footer"> 
        <footerComponent></footerComponent>
</footer>
