<section class="s-content s-content--narrow">
        <div class="row">
            <div class="text-center">
                <h2>Registro</h2>
            </div>
            <div *ngIf="user">
                <h4>Usuario</h4>
                <div class="form-field">
                    <input [(ngModel)]="user.name" type="text" name="name" class="full-width" placeholder="Usuario" required/>
                </div>

                <h4>Contraseña</h4>
                <div class="form-field">
                    <input [(ngModel)]="user.passwordHash" type="password" name="passwordHash" class="full-width" placeholder="Contraseña" required/>
                </div>
                
                <div class="text-center">
                    <re-captcha (resolved)="resolved($event)" siteKey="6LfUZBMUAAAAAJIFByqzdQzO3KLzX79bmrQuzeW1"></re-captcha>
                    <button (click)="registredUser()" class="submit full-width">Registrarme</button>
                    <button (click)="cancel()" class="submit btn btn--primary full-width">Cancelar</button>
                </div>
            </div>
        </div>
</section>