#calendar {
    font-family:Arial;
    font-size:12px;
}
#calendar caption {
    text-align:left;
    padding:5px 10px;
	background-color:rgba(15, 15, 15, 0.88);
	color:#fff;
	font-weight:bold;
	font-size:medium;
}
#calendar caption div:nth-child(1) {float:left;}
#calendar caption div:nth-child(2) {float:right;}
#calendar caption div:nth-child(2) a {cursor:pointer;}
#calendar th {
    background-color:#f52323;
	color:#fff;
	width:40px;
}
#calendar td {
    text-align:right;
	padding:2px 5px;
	background-color:silver;
}
#calendar .hoy {
    background-color:#0080ff;
}
#current_day { background-color:yellow; font-weight: bold; } 
.info {font-size: 5rem; font-style: italic; text-align: center; color: crimson; font-family: fantasy}
.titulo__info {
    line-height: 1.375;
    margin-top: 0;
    color: darkgray; font-size:inherit; text-align: center; font-family: fantasy
}
