<!DOCTYPE html>
<html class="no-js" lang="es">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Entrenamiento | Mi Entrenamiento</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/vendor.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/calendario.css">
    <link rel="stylesheet" href="../css/theme2.css">
    <link rel="stylesheet" href="../css/demo.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">


    <!-- script
    ================================================== -->
    <script src="../js/modernizr.js"></script>
    <script src="../js/pace.min.js"></script>
    <script src="../js/code.js"></script>     

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="index.html">
                        <img src="../images/logoGYM.png" alt="Homepage">
                    </a>
                </div>
                <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="https://es-es.facebook.com/FitnessMotivacion/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/fltness?lang=es" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/fitnessgirlsmotivation/?hl=es" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.es/categories/health_fitness/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Buscar:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="header__overlay-close">Cerrar</a>

                </div>
                <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Navegación</h2>

                    <ul class="header__nav">
                        <li><a href="/index.html" title="">Inicio</a></li>
                        <li class="has-children">
                            <a href="#0">Clases</a>
                            <ul class="sub-menu">
                            	<li><a href="/clases/añadir_clase">Añadir Clase</a></li>
                                <li><a href="/inscripcion">Apúntate</a></li>
                                {{#activities}}
                                <li><a href="/clases/{{id}}-{{name}}">{{name}}</a></li>
                                {{/activities}}
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0" title="">Entrenamientos</a>
                            <ul class="sub-menu">
                                <li class="current"><a href="/entrenamientos/entrenamiento">Mi Entrenamiento</a></li>
                                <li><a href="/entrenamientos/principiante">Principiante</a></li>
                                <li><a href="/entrenamientos/medio">Medio</a></li>
                                <li><a href="/entrenamientos/avanzado">Avanzado</a></li>
                                <li><a href="/entrenamientos/experto">Experto</a></li>
                            </ul>
                        </li>
                        <li><a href="/waregym" title="">Waregym</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Productos</a>
                            <ul class="sub-menu">
                            	<li><a href="/nuevoProducto">Añadir producto</a></li>
                                <li><a href="/productos">Productos disponibles</a></li>
                            </ul>
                        </li>
                        <li><a href="/contacto" title="">Contacto</a></li>
                        {{#logout}}
						<li><form action="/logout" method="post"><input type="submit" value="Sign Out" /></form></li>
						{{/logout}}
                        {{#hidden}}
              			<li><a href="/login" title="">Iniciar Sesión</a></li>
                        {{/hidden}}
                        <li><p><a href="/entrenamientos/entrenamiento">{{userName}}</a></p></li>
                        {{#teacher}}
                        <li>Profesor</li>
                        {{/teacher}}
                        {{#admin}}
                        <li>Admin</li>
                        {{/admin}}
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Cerrar</a>

                </nav>
                <!-- end header__nav-wrap -->


            </div>
            <!-- header-content -->
        </header>
        <!-- header -->
    </div>
    <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-video">
            <div class="s-content__header col-full">
                <h1 class="display-1">
                    CREAR     ENTRENAMIENTO
                </h1>
                
               <p class="lead"> Selecciona qué tipo de entrenamiento quieres emplear
               de los cuatro distintos creados por nuestros expertos según tu experiencia<p>
               
            </div>
                  <!--   <div>
                        <label style="display: inline-block" for="date">Día:</label>
                        <input type="date" id="date">
                    </div> -->
                <script>
                function accion(){
                	dir = document.getElementById("tipo").value
                	return location.href="https://localhost:8443/entrenamientos"+dir
                }
                </script>
                
              <div align = "center">
                <form action="javascript:;" onsubmit="accion()">
       
                <select id="tipo" name="tipo" onchange="showDiv(this)">
                   <option value="/avanzado">Avanzado</option>
                   <option value="/medio">Medio</option>
                   <option value="/experto">Experto</option>
                   <option value="/principiante">Principiante</option>
                 </select>       
                 <input type="submit" value ="Seleccionar"/>
                 </form>
                <script>
                function showDiv(select){
                	switch (select.value) {
                	case "/principiante":
                		document.getElementById("beginner").style.display="block";
                		document.getElementById('medium').style.display="none";
                		document.getElementById('advanced').style.display="none";
                		document.getElementById('expert').style.display="none";
                		break;
                    case "/medio":
                	    document.getElementById('beginner').style.display="none";
                		document.getElementById('medium').style.display="block";
                		document.getElementById('advanced').style.display="none";
                		document.getElementById('expert').style.display="none";
                		break;
                 
                    case "/avanzado":
                		document.getElementById('beginner').style.display="none";
                		document.getElementById('medium').style.display="none";
                		document.getElementById('advanced').style.display="block";
                		document.getElementById('expert').style.display="none";
                	    break;
                		
                    case "/experto":
                		document.getElementById('beginner').style.display="none";
                		document.getElementById('medium').style.display="none";
                		document.getElementById('advanced').style.display="none";
                		document.getElementById('expert').style.display="block";
                		break;
                		}
                	}
                </script>
               </div>
               <br>
            <!-- INFO -->
                <h2 style="text-align: center">INFORMACIÓN DEL ENTRENAMIENTO</h2>
                <p class="lead" style="text-align: center">El entrenamiento elegido tendra los siguientes ejercicios...</p>

                 <div id="beginner" style="display:none;">
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width:50%">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">ABDOMINALES</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">15</p>
                            </div>
                        </div>

                    </article>
                    <!-- end article -->

                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">TIEMPO TOTAL DE ENTRENAMIENTO</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">20 minutos</p>
                            </div>
                        </div>
                    </article>
                    
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PRESS DE BANCA</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">50 kg </p>
                                <p style="text-align: center;">5 repeticiones</p>
                            </div>
                        </div>

                    </article>
                    <!-- end article -->
                
                    <!-- end article -->

                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">FLEXIONES</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info"> 10 </p>
                            </div>
                        </div>

                    </article>
                    <!-- end article -->
                </div>

                <!-- Medium training info -->
                
                <div id="medium" style="display:none;">
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width:50%">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">ABDOMINALES</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">15</p>
                            </div>
                        </div>

                    </article>
                    <!-- end article -->

                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">TIEMPO TOTAL DE ENTRENAMIENTO</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">30 minutos</p>
                            </div>
                        </div>
                    </article>
                    
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PRESS DE BANCA</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">70 kg </p>
                                <p style="text-align: center;">7 repeticiones</p>
                            </div>
                        </div>

                    </article>
                    <!-- end article -->
                
                <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PESAS</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info"> 10 kg </p>
                                <p style="text-align: center;">5 repeticiones</p>
                            </div>
                        </div>

                    </article>

                    <!-- end article -->

                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">FLEXIONES</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info"> 20 </p>
                            </div>
                        </div>

                    </article>
                    <!-- end article -->
                </div>
                
                
                <div id="advanced" style="display:block;">
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width:50%">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PIERNAS</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">40 kg</p>
                                <p style="text-align: center;">15 repeticiones</p>
                            </div>
                        </div>
                    </article>
                    <!-- end article -->

                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">TIEMPO TOTAL DE ENTRENAMIENTO</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">45 minutos</p>
                            </div>
                        </div>
                    </article>
                    
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PRESS DE BANCA</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">100 kg </p>
                                <p style="text-align: center;">10 repeticiones</p>
                            </div>
                        </div>

                    </article>
                    <!-- end article -->
                    
                     <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PRESS DE PECTORAL</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">50 kg </p>
                                <p style="text-align: center;">20 repeticiones</p>
                            </div>
                        </div>

                    </article>
  
                
                <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PESAS</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info"> 20 kg </p>
                                <p style="text-align: center;">10 repeticiones</p>
                            </div>
                        </div>

                    </article>

                    <!-- end article -->

                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">BARRAS</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info"> 10 repeticiones </p>
                            </div>
                        </div>

                    </article>
                    <!-- end article -->
                </div>
                
                
                <!-- Expert info -->
                
                <div id="expert" style="display:none;">
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width:50%">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PIERNAS</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">60 kg</p>
                                <p style="text-align: center;">20 repeticiones</p>
                            </div>
                        </div>
                    </article>
                    <!-- end article -->

                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">TIEMPO TOTAL DE ENTRENAMIENTO</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">1 hora</p>
                            </div>
                        </div>
                    </article>
                    
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PRESS DE BANCA</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">150 kg </p>
                                <p style="text-align: center;">10 repeticiones</p>
                            </div>
                        </div>

                    </article>
                    <!-- end article -->
                    
                     <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PRESS DE PECTORAL</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">70 kg </p>
                                <p style="text-align: center;">10 repeticiones</p>
                            </div>
                        </div>

                    </article>
  
                
                <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">FLEXIONES</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info"> + 20 kg </p>
                                <p style="text-align: center;">10 repeticiones</p>
                            </div>
                        </div>

                    </article>

                    <!-- end article -->

                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">

                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">BARRAS</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info"> 10 repeticiones </p>
                                <p style="text-align: center;">+10 kg</p>
                            </div>
                        </div>

                    </article>
                    <!-- end article -->
                </div>
                
                
            <!-- end INFO -->
        </article>
    </section>
    
    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-two md-four mob-full s-footer__sitelinks">

                    <h4>Secciones</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="../clases/inscripcion.html">Apúntate</a></li>
                        <li><a href="../clases/spinning.html">Spinning</a></li>
                        <li><a href="../clases/body-combat.html">Body Combat</a></li>
                        <li><a href="../clases/moi-thai.html">Moi-Thai</a></li>
                        <li><a href="../clases/kick-boxing.html">Kick Boxing</a></li>
                    </ul>

                </div>
                <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">

                    <h4>Entrenamiento</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="entrenamiento.html">Mi Entrenamiento</a></li>
                        <li><a href="principiante.html">Principiante</a></li>
                        <li><a href="medio.html">Medio</a></li>
                        <li><a href="avanzado.html">Avanzado</a></li>
                        <li><a href="experto.html">Experto</a></li>
                    </ul>

                </div>
                <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">

                    <h4>Entrenamiento</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="principiante.html">Principiante</a></li>
                        <li><a href="medio.html">Medio</a></li>
                        <li><a href="avanzado.html">Avanzado</a></li>
                        <li><a href="experto.html">Experto</a></li>
                    </ul>

                </div>
                <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">

                    <h4>Contacto</h4>

                    <p>Telf: (+34) 123 456 789
                        <br> Ubicación: C/Serrano n º 1, Madrid, España </p>

                </div>
                <!-- end s-footer__subscribe -->

            </div>
        </div>
        <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Waregym 2018</span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end s-footer__bottom -->

    </footer>
    <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>