
<header class="header">
      <div class="header__content row">
    
          <div class="header__logo">
              <a class="logo" href="/index">
                  <img href="/index" src="assets/images/logoGYM.png" alt="Homepage">
              </a>
          </div>
          <!-- end header__logo -->
    
          <ul class="header__social">
              <li>
                  <a href="https://es-es.facebook.com/FitnessMotivacion/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                  <a href="https://twitter.com/fltness?lang=es" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                  <a href="https://www.instagram.com/fitnessgirlsmotivation/?hl=es" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                  <a href="https://www.pinterest.es/categories/health_fitness/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
              </li>
          </ul>
          <!-- end header__social -->
    
          <a class="header__search-trigger" href="#0"></a>
    
          <div class="header__search">
    
              <form role="search" method="get" class="header__search-form" action="#">
                  <label>
                      <span class="hide-content">Buscar por:</span>
                      <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Buscar por:" autocomplete="off">
                  </label>
                  <input type="submit" class="search-submit" value="Search">
              </form>
    
              <a href="#0" title="Close Search" class="header__overlay-close">Close</a>
    
          </div>
          <!-- end header__search -->
    
    
          <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
    
          <nav class="header__nav-wrap">
    
              <h2 class="header__nav-heading h6">Site Navigation</h2>
    
              <ul class="header__nav">
                  <li ><a [routerLink]="['/index']" title="">Inicio</a></li>
                  <li class="has-children">
                      <a [routerLink]="['/clases']" title="">Clases</a>
                      <ul class="sub-menu">
                        <li><a [routerLink]="['/clases']">Clases disponibles</a></li>
                        <li *ngIf="loginService.isAdmin || loginService.isTeach"><a [routerLink]="['/clase/new']">Añadir Clase</a></li>
                      </ul>
                  </li>

                  <li class="has-children">
                      <a [routerLink]="['/entrenamiento']" title="">Entrenamientos</a>
                       <ul class="sub-menu">
                          <li><a [routerLink]="['/entrenamiento']">Mi entrenamiento</a></li>
                      </ul>
                  </li>
                  <li><a [routerLink]="['/waregym']" title="">Waregym</a></li>

                  <li class="has-children">
                    <a [routerLink]="['/productos']" title="">Productos</a>
                    <ul class="sub-menu">
                        <li *ngIf="loginService.isAdmin || loginService.isTeach"><a [routerLink]="['/producto/new']">Añadir producto</a></li>
                        <li><a [routerLink]="['/productos']">Productos disponibles</a></li>
                    </ul>
                  </li>
                  
                  <li class="has-children">
                    <a [routerLink]="['/contacto']" title="">Contacto</a>
                    <ul class="sub-menu">
                        <li *ngIf="loginService.isAdmin"><a [routerLink]="['/comentarios']">Ver Comentarios</a></li>
                    </ul>
                  </li>
                  
                     <li *ngIf="loginService.notLogged"><a [routerLink]="['/login']" title="">Iniciar Sesión</a></li>

            
                    <li *ngIf="loginService.isLogged">
                        <a [routerLink]="['/perfil']">{{loginService.user.name}}</a>
                    </li>
                    <li *ngIf="loginService.isLogged">
                        <button class="btn" (click)="logOut()" type="button">Log Out</button>
                    </li>
              </ul>
              <!-- end header__nav -->
    
              <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
    
          </nav>
          <!-- end header__nav-wrap -->
    
      </div>
      <!-- header-content -->
    </header>
    
    