<!DOCTYPE html>
<html class="no-js" lang="es">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Clase | {{activity.name}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/vendor.css">
    <link rel="stylesheet" href="../css/main.css">

    <!-- script
    ================================================== -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="../js/activities.js"></script>
    <script src="../js/modernizr.js"></script>
    <script src="../js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="/index">
                        <img src="../images/logoGYM.png" alt="Homepage">
                    </a>
                </div>
                <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="https://es-es.facebook.com/FitnessMotivacion/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/fltness?lang=es" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/fitnessgirlsmotivation/?hl=es" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.es/categories/health_fitness/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="header__overlay-close">Cerrar</a>

                </div>
                <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Navegación</h2>

                    <ul class="header__nav">
                        <li><a href="../index" title="">Inicio</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Clases</a>
                            <ul class="sub-menu">
                            	<li><a href="/clases/añadir_clase">Añadir Clase</a></li>
                                <li><a href="/clases/inscripcion">Apúntate</a></li>
                                {{#activities}}
                                <li><a href="/clases/{{id}}-{{name}}">{{name}}</a></li>
                                {{/activities}}
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0" title="">Entrenamientos</a>
                            <ul class="sub-menu">
                                <li><a href="/entrenamientos/entrenamiento">Mi entrenamiento</a></li>
                                <li><a href="/entrenamientos/principiante">Principiante</a></li>
                                <li><a href="/entrenamientos/medio">Medio</a></li>
                                <li><a href="/entrenamientos/avanzado">Avanzado</a></li>
                                <li><a href="/entrenamientos/experto">Experto</a></li>
                            </ul>
                        </li>
                        <li><a href="/waregym" title="">Waregym</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Productos</a>
                            <ul class="sub-menu">
                            	<li><a href="/nuevoProducto">Añadir producto</a></li>
                                <li><a href="/productos">Productos disponibles</a></li>
                            </ul>
                        </li>
                        <li><a href="/contacto" title="">Contacto</a></li>
                        {{#logout}}
						<li><form action="/logout" method="post"><input type="submit" value="Sign Out" /></li>
						{{/logout}}
                        {{#hidden}}
              			<li><a href="/login" title="">Iniciar Sesión</a></li>
                        {{/hidden}}
                        {{#admin}}
                        <li><p>Admin</p></li>
                        {{/admin}}
                        <li>
                    		<p><a href="/entrenamientos/entrenamiento">{{userName}}</a></p>
                    	</li>
                    </ul>
                    <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Cerrar</a>

                </nav>
                <!-- end header__nav-wrap -->

            </div>
            <!-- header-content -->
        </header>
        <!-- header -->

    </div>
    <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-gallery">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    {{activity.name}}
                </h1>
            </div>
            <!-- end s-content__header -->

            <div class="s-content__media col-full">
                <div class="s-content__slider slider">
                    <div class="slider__slides">
                        <div class="slider__slide">
                            <img src="/image/{{activity.image1}}" srcset="/image/{{activity.image1}} 2000w, 
                                         /image/{{activity.image1}} 1000w, 
                                         /image/{{activity.image1}} 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                        </div>
                        <div class="slider__slide">
                            <img src="/image/{{activity.image2}}" srcset="/image/{{activity.image2}} 2000w, 
                                         /image/{{activity.image2}} 1000w, 
                                         /image/{{activity.image2}} 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- end s-content__media -->

            <div class="col-full s-content__main">

                <div class="text-center">
                    <h1 class="lead">¿Qué es el {{activity.name}}?</h1>
                </div>

                <p class="lead">{{activity.description}}</p>

                <div class="text-center">
                    <h1 class="lead">Desarrollo de una clase</h1>

                    <p class="lead">{{activity.development}}</p>

                    <img src="/image/{{activity.image3}}" srcset="/image/{{activity.image3}} 2000w, /image/{{activity.image3}} 1000w, /image/{{activity.image3}} 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">

                    <div class="text-center">
                        <h1 class="lead">Beneficios</h1>
                    </div>

                    <p class="lead">{{activity.benefit}}</p>

                    <div class="text-center">
                        <h1 class="lead">Horarios</h1>
                    </div>
                </div>
            </div>

            <div class="row-center">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="text-align:center" scope="col">Días/Horas</th>
                            <th style="text-align:center" scope="col">Lunes</th>
                            <th style="text-align:center" scope="col">Martes</th>
                            <th style="text-align:center" scope="col">Miércoles</th>
                            <th style="text-align:center" scope="col">Jueves</th>
                            <th style="text-align:center" scope="col">Viernes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align:center" scope="row">10:00</th>
                            <td style="text-align:center">{{activity.schedule.0.0}}</td>
                            <td style="text-align:center">{{activity.schedule.1.0}}</td>
                            <td style="text-align:center">{{activity.schedule.2.0}}</td>
                            <td style="text-align:center">{{activity.schedule.3.0}}</td>
                            <td style="text-align:center">{{activity.schedule.4.0}}</td>
                        </tr>
                        <tr>
                            <th style="text-align:center" scope="row">12:00</th>
                            <td style="text-align:center">{{activity.schedule.0.1}}</td>
                            <td style="text-align:center">{{activity.schedule.1.1}}</td>
                            <td style="text-align:center">{{activity.schedule.2.1}}</td>
                            <td style="text-align:center">{{activity.schedule.3.1}}</td>
                            <td style="text-align:center">{{activity.schedule.4.1}}</td>
                        </tr>
                        <tr>
                            <th style="text-align:center" scope="row">17:00</th>
                            <td style="text-align:center">{{activity.schedule.0.2}}</td>
                            <td style="text-align:center">{{activity.schedule.1.2}}</td>
                            <td style="text-align:center">{{activity.schedule.2.2}}</td>
                            <td style="text-align:center">{{activity.schedule.3.2}}</td>
                            <td style="text-align:center">{{activity.schedule.4.2}}</td>
                        </tr>
                    </tbody>
                </table>
                <ul class="class-inscription text-center">
                    <button><a href="/inscripcion">Inscribirse/Borrar Inscripción</a></button>
                </ul>
            </div>
        </article>
    </section>

    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-two md-four mob-full s-footer__sitelinks">

                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="../index">Inicio</a></li>
                        <li><a href="../waregym">Waregym</a></li>
                        <li><a href="productos">Productos</a></li>
                        <li><a href="../contacto">Contacto</a></li>
                        <li><a href="../login">Iniciar Sesión</a></li>
                    </ul>

                </div>
                <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">

                    <h4>Clases</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="/clases/inscripcion">Apúntate</a></li>
                        <li><a href="/clases/spinning">Spinning</a></li>
                        <li><a href="/clases/body-combat">Body Combat</a></li>
                        <li><a href="/clases/moi-thai">Moi-Thai</a></li>
                        <li><a href="/clases/kick-boxing">Kick Boxing</a></li>
                    </ul>

                </div>
                <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">

                    <h4>Entrenamiento</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="../entrenamientos/entrenamiento">Mi entrenamiento</a></li>
                        <li><a href="../entrenamientos/principiante">Principiante</a></li>
                        <li><a href="../entrenamientos/medio">Medio</a></li>
                        <li><a href="../entrenamientos/avanzado">Avanzado</a></li>
                        <li><a href="../entrenamientos/experto">Experto</a></li>
                    </ul>

                </div>
                <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">

                    <h4>Contacto</h4>

                    <p>Telf: (+34) 123 456 789
                        <br> Ubicación: C/Serrano n º 1, Madrid, España </p>

                </div>
                <!-- end s-footer__subscribe -->

            </div>
        </div>
        <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Waregym 2018</span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end s-footer__bottom -->

    </footer>
    <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>