<section class="s-content s-content--narrow s-content--no-padding-bottom">
    <article class="row format-video">
        <div *ngIf="training">
        <div *ngIf="training.name == 'Ninguno'">
            <div class="s-content__header col-full">
                <h2 class="s-content__header-title">
                    No estás suscrito a ningún entrenamiento
                </h2>
                <button (click)="gotoTraining()" class="submit btn btn--primary full-width">Ver Entrenamientos</button>
            </div> <!-- end s-content__header -->
            
        </div>
        <div *ngIf="training.id == '6'">
        <!--<div *ngIf="trainingComponent.currentTraining == '6'"></div>-->
            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Entrenamiento {{training.name}}
                </h1>
            </div> <!-- end s-content__header -->
            <div class="s-content__media col-full">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/8avdj3JNw_0?rel=0" allowfullscreen="" title="Video principiantes"></iframe>
                </div>
                <br> 
            </div> <!-- end s-content__media -->
            <h3 class=text-center> Tu entrenamiento contiene los siguientes ejercicios...</h3>
            <div id="beginner" style="display:block;">
                <article class="masonry__brick entry format-standard aos-init aos-animate" style="width:50%">
                <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="titulo__info">ABDOMINALES</h1>
                        </div>
                        <div class="entry__excerpt">
                                <p class="info">15</p>
                        </div>
                    </div>
                </article>
                <!-- end article -->
                
                <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="titulo__info">TIEMPO TOTAL DE ENTRENAMIENTO</h1>
                        </div>
                        <div class="entry__excerpt">
                            <p class="info">20 minutos</p>
                        </div>
                    </div>
                </article>
                
                <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="titulo__info">PRESS DE BANCA</h1>
                        </div>
                        <div class="entry__excerpt">
                            <p class="info">50 kg </p>
                            <p style="text-align: center;">5 repeticiones</p>
                        </div>
                    </div>
                </article>
                <!-- end article -->

                <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">
                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="titulo__info">FLEXIONES</h1>
                        </div>
                        <div class="entry__excerpt">
                            <p class="info"> 10 </p>
                        </div>
                    </div>
                </article>
                <!-- end article -->
            </div>
        </div>

        <div *ngIf="training.id =='7'">
                <div class="s-content__header col-full">
                    <h1 class="s-content__header-title">Entrenamiento {{training.name}}</h1>
                </div> <!-- end s-content__header -->
                <div class="s-content__media col-full">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/WzFMnRUzYog" allowfullscreen="" title="Video time lapse Madrid"></iframe>
                    </div>
                    <br> 
                </div> <!-- end s-content__media -->
                <div id="advanced" style="display:block;">
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width:50%">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PIERNAS</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">40 kg</p>
                                <p style="text-align: center;">15 repeticiones</p>
                            </div>
                        </div>
                    </article>
                    <!-- end article -->
    
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">TIEMPO TOTAL DE ENTRENAMIENTO</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">45 minutos</p>
                            </div>
                        </div>
                    </article>
                            
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PRESS DE BANCA</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">100 kg </p>
                                <p style="text-align: center;">10 repeticiones</p>
                            </div>
                        </div>
                    </article>
                    <!-- end article -->
                            
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PRESS DE PECTORAL</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info">50 kg </p>
                                <p style="text-align: center;">20 repeticiones</p>
                            </div>
                        </div>
                    </article>
               
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">PESAS</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info"> 20 kg </p>
                                <p style="text-align: center;">10 repeticiones</p>
                            </div>
                        </div>
                    </article>
                    <!-- end article -->
        
                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="titulo__info">BARRAS</h1>
                            </div>
                            <div class="entry__excerpt">
                                <p class="info"> 10 repeticiones </p>
                            </div>
                        </div>
                    </article>
                    <!-- end article -->
                </div>
            </div>
        
        <div *ngIf="training.id =='8'">
                
                            <div class="s-content__header col-full">
                                <h1 class="s-content__header-title">
                                    Entrenamiento {{training.name}}
                                </h1>
                            </div> <!-- end s-content__header -->
                            <div class="s-content__media col-full">
                                <div class="video-container">
                                    <iframe src="https://www.youtube.com/embed/tB3X4TjTIes" allowfullscreen="" title="Video medio"></iframe>
                                </div>
                                <br> 
                            </div> <!-- end s-content__media -->
                <h3 class="text-center"> Tu entrenamiento contiene los siguientes ejercicios...</h3>
                <div id="medium" style="display:block;">
                                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width:50%">
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">ABDOMINALES</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info">15</p>
                                            </div>
                                        </div>
                
                                    </article>
                                    <!-- end article -->
                
                                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">TIEMPO TOTAL DE ENTRENAMIENTO</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info">30 minutos</p>
                                            </div>
                                        </div>
                                    </article>
                                    
                                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">PRESS DE BANCA</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info">70 kg </p>
                                                <p style="text-align: center;">7 repeticiones</p>
                                            </div>
                                        </div>
                
                                    </article>
                                    <!-- end article -->
                                
                                <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">
                
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">PESAS</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info"> 10 kg </p>
                                                <p style="text-align: center;">5 repeticiones</p>
                                            </div>
                                        </div>
                
                                    </article>
                
                                    <!-- end article -->
                
                                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">
                
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">FLEXIONES</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info"> 20 </p>
                                            </div>
                                        </div>
                
                                    </article>
                                    <!-- end article -->
                                </div>
        </div>
        
        <div *ngIf="training.id =='9'">
                
                            <div class="s-content__header col-full">
                                <h1 class="s-content__header-title">
                                    Entrenamiento {{training.name}}
                                </h1>
                            </div> <!-- end s-content__header -->
                            <div class="s-content__media col-full">
                                <div class="video-container">
                                    <iframe src="https://www.youtube.com/embed/sYZHBc8ItSs" allowfullscreen="" title="Video time lapse Madrid"></iframe>
                                </div>
                                <br> 
                            </div> <!-- end s-content__media -->
                <div id="expert" style="display:block;">
                                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width:50%">
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">PIERNAS</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info">60 kg</p>
                                                <p style="text-align: center;">20 repeticiones</p>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- end article -->
                
                                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">TIEMPO TOTAL DE ENTRENAMIENTO</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info">1 hora</p>
                                            </div>
                                        </div>
                                    </article>
                                    
                                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">PRESS DE BANCA</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info">150 kg </p>
                                                <p style="text-align: center;">10 repeticiones</p>
                                            </div>
                                        </div>
                
                                    </article>
                                    <!-- end article -->
                                    
                                     <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%;">
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">PRESS DE PECTORAL</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info">70 kg </p>
                                                <p style="text-align: center;">10 repeticiones</p>
                                            </div>
                                        </div>
                
                                    </article>
                  
                                
                                <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">FLEXIONES</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info"> + 20 kg </p>
                                                <p style="text-align: center;">10 repeticiones</p>
                                            </div>
                                        </div>
                
                                    </article>
                
                                    <!-- end article -->
                
                                    <article class="masonry__brick entry format-standard aos-init aos-animate" style="width: 50%">
                
                                        <div class="entry__text">
                                            <div class="entry__header">
                                                <h1 class="titulo__info">BARRAS</h1>
                                            </div>
                                            <div class="entry__excerpt">
                                                <p class="info"> 10 repeticiones </p>
                                                <p style="text-align: center;">+10 kg</p>
                                            </div>
                                        </div>
                
                                    </article>
                                    <!-- end article -->
                                </div>
        </div>

    </div>

       

    </article>
</section>